* {
    margin: 0;
    paddding: 0;
}

.wrapper {
    width: 100%;
    margin-top: 100px;
}

.add-form {
    border: 2px solid black;
    width: 960px;
    margin: 0 auto;
/*    padding-left: 20px;*/
}

.wrapper-right {
    width: 960px;
    margin: 0 auto;
/*    border: 2px solid black;*/
    margin-top: 50px;
}


ul {
    padding: 0;

}
ul li {
    padding: 25px;
    margin-bottom: 5px;
    text-decoration: none;
    list-style: none;
    background: #eaeaea;
}
ul li:last-child {
    margin-bottom: 0;
}